<b><%= link_to comment.author.name, comment.author %> says:</b>
<div class="comment_arrow_left"></div>
<div class="comment"><%= comment.content %></div>
<span style="font-size: smaller"><%= l(comment.created_at, :format => :short) %></span><br/><br/>