<% if @listing.closed? %>
<%= link_to "Reopen #{@listing.listing_type}", edit_listing_path(@listing), :class => "button" %>
<% else %>
<%= link_to "Edit #{@listing.listing_type}", edit_listing_path(@listing), :class => "button" %> | 
<%= link_to "Close #{@listing.listing_type}", close_person_listing_path(@current_user, @listing), :class => "button", :method => :put, :remote => true %>
<% end %>
