<h1><%= params[:category][0] %></h1>
<% if @listings.size > 0 %>
    <ul class="listings noshade">
        <%= render :partial => "homepage/recent_listing", :collection => @listings, :as => :listing %>
        <%- if @listings.total_pages < 2 && @private_listings && @private_listings["request"].present? && @private_listings["request"] > 0 %><p></p><% end %>
    </ul>
<% else %>
    <p class="errors">Sorry, we coudn't find <%= params[:listing_type] %>s that match your search. Do you want to <a href="/<%= I18n.locale  %>/<%= params[:listing_type] %>s">view all the <%= params[:listing_type] %>s?</a></p>
<% end %>