<% if @listings.size > 0 %>
  <%= render :partial => "listings/listed_listing", :collection => @listings, :as => :listing%>
  <%= pageless(@listings.total_pages, '#search_results', @request_path, t(".loading_more_#{@title}s")) %>
<%else%>
  <% if params[:listing_type]%>
<p class="description">No <%= params[:listing_type] %>s with the conditions you gave. 
  <%= link_to Listing.opposite_type(params[:listing_type]).capitalize! + " something", { :controller => "listings", :action => "new", :category => params[:category][0], :type => Listing.opposite_type(params[:listing_type]) } %>  
</p><%end%><%end%>