.bottomlist {padding:0; margin:0;} .bottomlist li {float:left; list-style:none;}
html, body {height:100%;}
html, body, .tabs, .footer, .list, .listings, .nav {padding:0; margin:0;}
body {font-family:Tahoma, Verdana, Arial, sans-serif;font-size:11px;color:#333;}
a {text-decoration: none;color: #d45207}
a:hover {text-decoration: underline}
a img {border: none;}
h1, h2, h3 {color: #555;font-size: 1.2em;margin:0 0 3px 0;clear:both;padding-top: 5px;}
h1 {font-size: 1.3em;font-variant: small-caps;}
h3 { font-size: 1.1em; font-style: italic;}
p {margin: 5px 0;}
.container {min-height: 100%; position: relative;}
.header {height:50px; background:#254306 url(images/header.png) repeat-x 0 0;}
.tabs {padding:0 4px;}
.logo {height:21px;padding:4px}
.logo a {color: #fff;}
.content {padding:5px 5px 71px 5px;}
.footer {background:#544229 url(images/footer.png) repeat-x 0 0; color:#fff;width:100%;height:66px;position:absolute;bottom:0;}
.left, .tabs li, .list li, .nav li {float:left;}
.tabs li, .footer li, .list li, .nav li {list-style:none;}
.tabs li, .footer li, .nav li {width:33.3%;}
.wider li {width:50%;}
.tabs a, .footer a, .nav a, .nav .link {display:block; padding:3px 0; color:#fff; height:15px;}
.footer a {padding: 3px 0 3px 2px;}
.footer a:hover {background: #7d6546;text-decoration: none;}
.tabs .active a {color:#333; background:#fff;}
.tabs .with_nav a, .nav a, .nav .link {background:#f7f5e6;color: #d45207;}
.nav {margin:-5px -5px 5px -5px;}
.nav a, .nav .link {color: #d45207; border-bottom:1px #bbb solid;padding: 5px 0;}
.copy{clear:left;padding-top:5px;}
.copy, .tabs a, .nav a, .nav .link {text-align:center;}
.tips, .hint, .description {padding:5px 3px;font-size:0.9em;color:#555;}
.hint, .description {margin-left:1px;margin-top: -10px;padding-left: 20px;background:#f9f9f9 url(icons/info.png) no-repeat 1px 6px;}
.errors, .ok {border:1px #abc dotted;padding:4px 5px 9px 20px;list-style-position:inside;}
.errors a {color:#c00;}
.errors {background:#ff9 url(icons/warning.png) no-repeat 1px 1px;}
.ok {background:#dfc url(icons/accept.png) no-repeat 1px 1px;}
.right{float:right;}
.framed, .listings img, .listing img {border:1px #abc solid;padding:1px;background: #fff;height:40px;width:40px;}
.framed {height:140px;width:100%;margin: 5px 0 0 -2px;}
.listing img {height:60px;width:60px;}
.listing .small {height:40px;width:40px;}
.listings {border-top: 1px #ddd solid;}
.listings li {border-bottom: 1px #ddd solid;list-style: none;padding:3px 0;}
.listings p {margin:0;}
.listings .offer {background: #f7f5e6;}
.listings .request, .noshade .offer {background: #fff;}
.listings .image, .listing .image {width: 44px;height: 44px;float:left;margin-right: 3px;}
.listing .image {width: 64px;height: 64px;}
.listings .titl {font-weight: bold; color: #375e11;}
.listings .meta {clear:both;padding-top: 3px;}
.textual img {height:28px;width:28px;}
.textual .image {width: 32px;height: 32px;}
.textual .meta, .listing .meta {clear:none;font-size:1em;}
.listing .link {background: #fff; border: none; padding: 0; margin: 0; display: inline; color: #d45207;}
.nav .link {border-width: 0 0 1px 0;width:100%;padding-bottom: 20px;height: 20px;}
.listing .link:hover, .nav .link:hover {cursor: pointer; text-decoration: underline;}
.meta{color:#555;font-size:0.9em;font-style:italic;}


.set_table table{background-color: #d1c9b4;width: 100%;font-size: 12px;background-color:#d1c9b4;}
.entry{background:#f9f9f9;padding:3px 2px;}
label{display:inline-block;margin:1px 0;}
/*CSS 3*/
.rounded {border-radius: 4px; -moz-border-radius: 4px;}
.item {float: left;border-bottom-style: inset; border-bottom-color: #993300; width: 100%;border-bottom-width:  thin;}
.item img{float: left;width: 30px;height: 30px;padding-right: 4px;}
.item a {float: left;color: #ff6600; text-decoration: underline;}
input[type="text"], textarea, input[type="password"], input[type="submit"], button, .button, select{color:inherit;font-family:inherit;font-size:inherit;}
input[type="text"], textarea, input[type="password"], input[type="file"], select {
    width:90%;
    border:1px #999 solid;
    padding:3px;
    background: #f7f5e6;
    font-weight: bold;
    color: #464646;
    margin-left: 10px;
    border: 0;
}
textarea {height:30px;}
input[type="submit"], button, .button{
    padding:2px 6px;
    border:1px #999 solid;
    background:#765d3a;
    color:#fff;
}
.form {
  background: #d1c9b4;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  overflow: hidden;
  padding: 10px 15px 15px 5px;
 }
  .form h2 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;}
  .form h3 {
    font-weight: lighter;
    font-size: 13px;
    margin-bottom: 13px; }
  .form input.text_field {
    font-weight: bold;
    color: #464646;
    background: #f7f5e6;
    width: 90%;
    font-size: 12px;
    height: 13px;
    padding: 9px;
    margin-left: 10px;
    border: 0; }
    .form input.text_field:focus {
      background: white; }
  .form input.send_button {
    font-size: 14px;
    font-weight: bold;
    background: #765d3a;
    width: 50%;
    height: 30px;
    padding: 0;
    border: 0;
    color: white;
    margin: 15px 0 0 10px; }
    .form input.send_button:active {
      background-color: #4d3d26;
      padding-top: 1px; }
    .form input.send_button:hover {
      background-color: #9f7d4e; }
    .form input.send_button:focus {
      background-color: #9f7d4e; }
  .form input.send_button_terms {
    font-size: 14px;
    font-weight: bold;
    background: #765d3a;
    width: 50%;
    height: 20px;
    padding: 0;
    border: 0;
    color: white;
    width: 70%; }
    .form input.send_button_terms:active {
      background-color: #4d3d26;
      padding-top: 1px; }
    .form input.send_button_terms:hover {
      background-color: #9f7d4e; }
    .form input.send_button_terms:focus {
      background-color: #9f7d4e; }
  .form label {
    margin: 10px;
    width: 90%;
    font-size: 14px;
    font-weight: bold; }
  .form label.checkbox  {
    margin: 0;
    padding-top: 5px;
    width: 50%;
    font-size: 12px;
    font-weight: bold; }
  .form .links {
    margin: 10px 0 0 10px; }
  .form .text {
    margin: 0 10px 10px 10px;
    line-height: 16px; }
  .form span.big {
    margin: 5px;
    color: #d45207;
    font-weight: bold;
    font-size: 16px; }
  .form span.small {
    font-size: 11px; }
  .form textarea {
    margin-left: 10px;
    width: 90%;
    color: #464646;
    background: #f7f5e6;
    font-size: 12px;
    height: 50px;
    padding: 9px 9px;
    border: 0; }
    .form textarea:focus {
      background: white; }
  .form .default_textarea_text {
    background: #f7f5e6;
    color: #939393; }
  .form div.title_label {
    margin-left: 10px;
    width: 300px;
    font-size: 14px;
    font-weight: bold; }
  .form div.title_content {
    margin-left: 10px;
    font-size: 14px;
    line-height: 16px; }
  .form img {
      margin-left: 10px;
  }
#password_forgotten {
  display: none; }
.signup_checkbox_container {
  margin-left: 10px;
  overflow: hidden; }
.signup_checkbox_input_container {
  margin-right: 10px;
  float: left; }
.signup_checkbox_label_container {
  margin-top: 4px;
  float: left; }
.profile-image th{width:30%; text-align: center}
.profile-image td{width:70%; text-align: center}
.profile-image img{height:100px;width:100px;vertical-align:top;}
.profile-image th{width:45px;}
.profile-image td{width:100%;}
.icon{margin:2px;width:auto;height:16px;}
.icon img{width:16px;height:16px;}
.icon:hover{text-decoration:none;}
.vertical-image th{width: auto; text-align: center}
.vertical-image td{width: auto; text-align: center}
.vertical-image img{height:40px;width:40px;vertical-align:top;}
.listings_table tr{width: auto; vertical-align:top;}
.listings_table th{width: auto; text-align: left}
.listings_table td{width: auto; text-align: left}
.listings_table img{height:40px;width:40px;vertical-align:top;}
.icon{margin:2px;width:auto;height:16px;}
.icon img{width:16px;height:16px;}
.icon:hover{text-decoration:none;}
.listings_title {
    width: 100%;
    color: #375e11;
    font-size: 12px;
    margin-top: 0px;
    text-align: center;
    text-decoration: underline;
}
.title {
    width: 100%;
    color: #375e11;
    font-size: 14px;
    margin-top: -5px;
    text-align: center;
    font-weight: bolder;
}
.titlebar {
    width: 100%;
    height: 2px;
    border: #4d3d26;
    background-color: #4d3d26;
}
.date {
    width: auto;
}
.listing_thumbnail {
    float: left;
}

#login_form, #new_message_form, #signup_form {
    background: #d1c9b4;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    overflow: hidden;
    line-height: 50%; }
#login_form h2, #new_message_form h2, #signup_form h2 {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px; }
#login_form input.text_field, #new_message_form input.text_field, #signup_form input.text_field {
    font-weight: bold;
    color: #464646;
    background: #f7f5e6;
    width: 90%;
    font-size: 13px;
    height: 10px;
    padding: 9px;
    margin-left: 10px;
    border: 0; }
#login_form input.text_field:focus, #new_message_form input.text_field:focus, #signup_form input.text_field:focus {
    background: white; }
#login_form input.send_button, #new_message_form input.send_button, #signup_form input.send_button {
    font-size: 14px;
    font-weight: bold;
    background: #765d3a;
    width: 50%;
    height: 30px;
    padding: 0;
    border: 0;
    color: white;
    margin: 15px 0 0 10px; }
#login_form input.send_button:active, #new_message_form input.send_button:active, #signup_form input.send_button:active {
    background-color: #4d3d26;
    padding-top: 1px; }
#login_form input.send_button:hover, #new_message_form input.send_button:hover, #signup_form input.send_button:hover {
    background-color: #9f7d4e; }
#login_form input.send_button:focus, #new_message_form input.send_button:focus, #signup_form input.send_button:focus {

    background-color: #9f7d4e; }
#login_form input.send_button_terms, #new_message_form input.send_button_terms, #signup_form input.send_button_terms {
    font-size: 14px;
    font-weight: bold;
    background: #765d3a;
    width: 50%;
    height: 20px;
    padding: 0;
    border: 0;
    color: white;
    width: 70%; }
#login_form input.send_button_terms:active, #new_message_form input.send_button_terms:active, #signup_form input.send_button_terms:active {
    background-color: #4d3d26;
    padding-top: 1px; }
#login_form input.send_button_terms:hover, #new_message_form input.send_button_terms:hover, #signup_form input.send_button_terms:hover {
    background-color: #9f7d4e; }
#login_form input.send_button_terms:focus, #new_message_form input.send_button_terms:focus, #signup_form input.send_button_terms:focus {
    background-color: #9f7d4e; }
#login_form label, #new_message_form label, #signup_form label {
    margin: 10px;
    width: 90%;
    font-size: 14px;
    font-weight: bold; }





#login_form label.checkbox, #new_message_form label.checkbox, #signup_form label.checkbox {
    margin: 0;
    padding-top: 5px;
    width: 50%;
    font-size: 12px;
    font-weight: bold; }
#login_form .links, #new_message_form .links, #signup_form .links {
    margin: 10px 0 0 10px; }
#login_form .text, #new_message_form .text, #signup_form .text {
    margin: 0 10px 10px 10px;
    line-height: 16px; }
#login_form span.big, #new_message_form span.big, #signup_form span.big {
    margin: 5px;
    color: #d45207;
    font-weight: bold;
    font-size: 16px; }
#login_form span.small, #new_message_form span.small, #signup_form span.small {
    font-size: 11px; }
#login_form textarea, #new_message_form textarea, #signup_form textarea {
    margin-left: 10px;
    width: 90%;
    color: #464646;
    background: #f7f5e6;
    font-size: 12px;
    height: 50px;
    padding: 9px 9px;
    border: 0; }
#login_form textarea:focus, #new_message_form textarea:focus, #signup_form textarea:focus {
    background: white; }
#login_form .default_textarea_text, #new_message_form .default_textarea_text, #signup_form .default_textarea_text {
    background: #f7f5e6;
    color: #939393; }
#login_form div.title_label, #new_message_form div.title_label, #signup_form div.title_label {
    margin-left: 10px;
    width: 300px;
    font-size: 14px;
    font-weight: bold; }
#login_form div.title_content, #new_message_form div.title_content, #signup_form div.title_content {
    margin-left: 10px;
    font-size: 14px;
    line-height: 16px; }
#login_form label.error, #new_message_form label.error, #signup_form label.error {
    font-size: 13px;
    font-weight: bold;
    clear: both;
    float: left;
    margin: 5px 0 0 10px;
    padding: 14px 10px 5px 10px;
    background: red url("/images/error_arrow.png") no-repeat top left;
    color: white;
    width: 50%;
    margin-left: 2%; }

#password_forgotten {
    display: none; }

.person_image_message {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 1px;
}
.person_image {
    width: 50px;
    height: 50px;
    float: left;
}
.conversation_right {
	float: right;
}
.table{
    font-size: 11px;
}
.table h1{
    font-size: 12px;
}
.listing_main_image{
    width: 30px;
    height: 30px;
    float: left;
    padding-right: 5px;
}
.message_header a{
    color: #000000;
    font-weight: bold;
    text-align: left;
    font-size: 12px;
}
.black a{
    color: #000;
}
.green{
    color: green;
}
.messageLinks{
    color: orange;
}
.messageLinks a{
    color: orange;
}
#share_types_and_tags {
}
.listing_category_big_icon img{
    width: 45px;
    height: 45px;
}
#listing_author {
	overflow: hidden;
}
.float_left {
	float: left;
}
.recent_listings{
background: #f7f5e6;
font-size: 10px;
}
.comment_arrow_left {
  background: #f7f5e6 url("/images/message_arrows.png") 0 21px no-repeat;
  width: 10px;
  height: 55px;
  float: left;
  margin-left: 1px;
}
.comment {
    font-style: italic;
    color:#555;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    background: #ede4cc;
    width: 80%;
    padding: 5px 10px;
    overflow: hidden;
}
.listing_description_homepage {margin-right:5px; margin-bottom:-10px; margin-top:0px; background:#f9f9f9; font-style: italic}
.listing_description {margin-right:5px; margin-bottom:0px; margin-top:0px; background:#f9f9f9; font-style: italic}
.button_to {display: inline}
.button_to div{display: inline}
.button_to:hover{cursor: pointer}
.created_at{font-size: smaller; font-style: italic}

#logged_in_icons {
      margin: 2px 0 0 0;
      color: white;
      overflow: hidden;
}

.inbox_spacer {
      margin: 0;
}


.inbox_container p{
      margin-left: 1px;
      font-weight: bold;
      border-bottom-color:#d45207;
      border-bottom-style:ridge;
}
#conversations {
      margin: 0 1px 0 1px;
}
.notifications{	margin-left: 1px;
                font-weight: bold;}
#conversations	.unread {
    background: #f8f5e2;
}
.conversation{
      border-style: ridge;
      border-color: #f0f1c2;
      margin-bottom: 1px;
      color: #e77c13;
      background:  #f7f5e6;
}
#messages {
      margin: 3px 0 2px 0;
      clear: both;
      overflow: hidden;
}
.message_content_spacer {
      width: 6%;
      float: left;
}
.message_main {
      width:80%;
      padding: 2px;
}

.message {
      overflow: hidden;
}
.message img{
      width: 30px;
      height: 30px;
      padding: 2px;
      float:left;

}
.person_image_message {
      width: 50px;
      height: 50px;
      float: left;
      margin-top: 1px;
}
.person_image {
      width: 50px;
      height: 50px;
      float: left;
}


.conversation_right {
      float: right;
}

.table{
      font-size: 11px;
}
table h1{
      font-size: 13px;
}
.listing_main_image{
      width: 30px;
      height: 30px;
      float: left;
      padding-right: 5px;
}
.black a{
      color: #000;
}
.green{
      color: green;
}
.messageLinks{
      color: orange;
}
.messageLinks a{
      color: orange;
}
#share_types_and_tags {
}
.listing_category_big_icon img{
      width: 45px;
      height: 45px;
}
#listing_author {
      overflow: hidden;
}
.float_left {
      float: left;
}
 .logged_in_notifications {
    cursor: pointer;
    height: 2px;
    width: 85px;
    margin-top: -5px;
    background-position: center;
}
.logged_in_icon_inbox_notifications {
   padding: 3px;
  cursor: pointer;
  width: 15px;
  height: 20px;
  float: left;
  margin: 9px 0 0 25%;
  background: transparent url("/images/icons/header_icons.png") no-repeat; }
.logged_in_icon_inbox_notifications .logged_in_icon_notification_text {
width: 9px;
height: 8px;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
background: #d45207;
margin-left: 15px;
padding: 1px 2px 2px 1px;
text-align: center;
color: white;
font-size: 8px;
font-weight: bold; }
.logged_in_icon_inbox_notifications .logged_in_icon_notification_text a {
color: white;
font-size: 8px;
font-weight: bold;
padding: 0;
margin: 0; }
.logout a {
  font-size: 12px;
  color: #ffffff;
  float: right;
}
.logged_in_icon_notifications_notifications{
  width: 25px;
  height: 25px;
  float: left;
  background-image:  url("/images/icons/not.png");
}
.logged_in_icon_settings{
  cursor: pointer;
  width: 20px;
  height: 20px;
  float: left;
  background-image:url("/images/icons/set.png");
}
  .logged_in_icon_inbox_notifications .logged_in_icon_notification_text {
    width: 9px;
    height: 8px;
   -moz-border-radius: 7px;
   -webkit-border-radius: 7px;
    background: #d45207;
    margin-left: 10px;
    padding: 1px 2px 2px 1px;
    text-align: center;
    color: white;
    font-size: 8px;
    font-weight: bold; }
  .not_visible{
        visibility: hidden;
}
span.not_visible {
	visibility: hidden;
}

.message_form_field_container  {
          background: #d1c9b4;
          width: 90%;
          padding:5px;
}
.message_form_field_container h1 {
font-size: 16px;
font-weight: bold;
text-align: center;
background: none;
}


  .message_form_field_container input.text_field {
    font-weight: bold;
    color: #464646;
    background: #f7f5e6;
    width: 90%;
    font-size: 12px;
    height: 13px;
    padding: 1px;
    margin-left: 10px;
    border: 0; }
    .message_form_field_container input.send_button {
    font-size: 14px;
    font-weight: bold;
    background: #765d3a;
    width: 50%;
    height: 25px;
    padding: 0;
    border: 0;
    color: white;
    margin: 0 0 0 10px; }





.message_form_field_container  {
          background: #d1c9b4;
          width: 90%;
          padding:5px;
}
.message_form_field_container h1 {
font-size: 16px;
font-weight: bold;
text-align: center;
background: none;
}


  .message_form_field_container input.text_field {
    font-weight: bold;
    color: #464646;
    background: #f7f5e6;
    width: 90%;
    font-size: 12px;
    height: 13px;
    padding: 1px;
    margin-left: 10px;
    border: 0; }
    .message_form_field_container input.send_button {
    font-size: 14px;
    font-weight: bold;
    background: #765d3a;
    width: 50%;
    height: 25px;
    padding: 0;
    border: 0;
    color: white;
    margin: 0 0 0 10px; }






.message_form_field_container  {
          background: #d1c9b4;
          width: 90%;
          padding:5px;
}
.message_form_field_container h1 {
font-size: 16px;
font-weight: bold;
text-align: center;
background: none;
}
.message_form_field_container input.text_field {
font-weight: bold;
color: #464646;
background: #f7f5e6;
width: 90%;
font-size: 12px;
height: 13px;
padding: 1px;
margin-left: 10px;
border: 0; }
.message_form_field_container input.send_button {
font-size: 14px;
font-weight: bold;
background: #765d3a;
width: 50%;
height: 25px;
padding: 0;
border: 0;
color: white;
margin: 0 0 0 10px; }
