<div class="form">
<h2>Upload avatar</h2>
<%= form_tag({ :controller => "people", :action => "update_avatar", :id => @person.id }, :method => "put",  :multipart => true, :id => "avatar_form") do %>
<%= file_field_tag "file", :size => 30, :id => "avatar_file" %>
<%= submit_tag t(".add_avatar_submit"), :onclick => "this.disabled=true,this.form.submit();", :class => "send_button_notifications" %>
<%= large_avatar_thumb(@person) %><% end %></div>