<h3>I want to get a notification when...</h3>
<%= form_for (@person) do |form| %>
<% Person::EMAIL_NOTIFICATION_TYPES.each do |notification_type| %>
<div>
<%= check_box_tag "person[preferences][#{notification_type}]", "true", @person.preferences[notification_type] ? true : false, :id => notification_type %>
<%= label_tag notification_type, t(".#{notification_type}"), :class => "checkbox"%>
<%= form.hidden_field "preferences[temp]", :value => "temp"%>
</div><%end%><%=form.submit t("settings.save_information"), :class => "send_button_notifications"%><%end%>

