<div class="title">ABOUT KASSI</div><hr class="titlebar"/>
%h3 What is Kassi?

%p 
  bei.yajioni makes it easier to sell and buy stuff. Kassi users can offer each other items and services and interested people can purchase the offered items.
  
%p  
  bei.yajioni aims to create a local item and service directory for each community and thus decrease the need for members to buy goods and services outside the community. Thus, use of the service saves both your time and money. It is also a great way to meet new people in your community.

%h3 Who is Kassi for?

%p
  bei.yajioni is a community-based service for campuses, cities, companies and associations. You are currently browsing the Kassi community of #{@current_community.name.capitalize}.

%p
  Would you like to use Kassi with the people in your school, city, company or association? Read more at
  = link_to "http://www.bei.yajioni.com", "http://www.bei.yajioni.com"
  and leave us your email address using the form on the site, if you want more information about the service.

%h3 Who's behind Kassi?

%p
  yajioni has been developed as a part of the 
  = link_to("OtaSizzle research project", "http://sizl.org")
  of Aalto University. Researchers Antti Virolainen and Juho Makkonen are responsible for the development of the service. A team of computer science students at the University of Nairobi adapted the service for Nairobi. To contact them,send an email to info@nairobisizzle.com.
