<% if @current_user.notifications.unread.count > 0 %>
<a href="<%= received_person_messages_path(:person_id => @current_user.id) %>" title="Messages"><%= image_tag "icons/not.png" %></a>
<% else %><a href="<%= received_person_messages_path(:person_id => @current_user.id) %>" title="Messages"><%= image_tag "icons/not.png" %></a><% end %>