<%= render :partial => "layouts/logged_in_messages_icon"%><%= render :partial => "layouts/logged_in_notifications_icon" %>
<a href="<%= person_settings_path(:person_id => @current_user.id) %>" title="Settings"><%= image_tag "icons/set.png" %></a>

