<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//<%= I18n.locale  %>" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= I18n.locale  %>" lang="<%= I18n.locale  %>">
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <title>Kassi</title>
  <%= stylesheet_link_tag "style" %>
</head>
<body>
  <div class="container">
  <div class="header">
    <div class="logo"><%= link_to image_tag("kassi.png", :alt => "Kassi Logo"), :controller => "homepage", :action => "index" %>
      <%= link_to "Kassi", :controller => "homepage", :action => "index" %></div>
      <ul class="tabs"><% @title = params[:listing_type]; %>
        <% if @title == "request" %>
          <li><%= link_to "Home", :controller => "homepage", :action => "index" %></li>
          <li class="active <% if logged_in? %>with_nav<% end %>"><a href="/<%= I18n.locale  %>/requests">Requests</a></li>
          <li><a href="/<%= I18n.locale  %>/offers">Offers</a></li>
        <% elsif @title == "offer" %>
          <li><%= link_to "Home", :controller => "homepage", :action => "index" %></li>
          <li><a href="/<%= I18n.locale  %>/requests">Requests</a></li>
          <li class="active <% if logged_in? %>with_nav<% end %>"><a href="/<%= I18n.locale  %>/offers">Offers</a></li>
        <% else %>
          <li class="active <% if logged_in? %>with_nav<% end %>"><%= link_to "Home", :controller => "homepage", :action => "index" %></li>
          <li><a href="/<%= I18n.locale  %>/requests">Requests</a></li>
          <li><a href="/<%= I18n.locale  %>/offers">Offers</a></li>
        <% end %>
      </ul>
    </div>
    <div class="content">
        <% if logged_in? %><%= render :partial => "layouts/logged_in" %><% end %>
        <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
    <div class="footer">
      <ul class="list">
	<% if logged_in? %><li><a href="/<%= I18n.locale  %>/logout">&bull;&nbsp;Logout</a></li>
	<% else %>
	<li><a href="/<%= I18n.locale  %>/login">&bull;&nbsp;Log In</a></li>
	<li><a href="/<%= I18n.locale  %>/signup">&bull;&nbsp;Sign Up</a></li>
	<% end %>
	<li><a href="/<%= I18n.locale  %>/search">&bull;&nbsp;Search</a></li>
	<li><a href="/feedback/show/?locale=<%= I18n.locale  %>">&bull;&nbsp;Feedback</a></li>
	<li><a href="/<%= I18n.locale  %>/infos/about">&bull;&nbsp;About</a></li>
	<li><a href="/<%= I18n.locale  %>/infos/terms">&bull;&nbsp;Terms</a></li>
      </ul>
      <p class="copy">&copy; 2011 Kassi</p>
    </div>
  </div>
</body>
</html>
